@model Withyun.Web.Models.MessageViewModel
@{
    ViewBag.Title = "关于我们";
}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="widget-container fluid-height">
            <div class="heading">
                <h3>
                    @ViewBag.Title
                </h3>
            </div>
            <div class="widget-content padded">
                <p class="about">
                    创建这个网站的初衷，是因为厌倦了各类资源网站的注册和积分制度，生活中往往有这样的体验，有时候我们为了查找一项资料，不知道要走多少条弯道，注册多少遍账号，回复多少篇帖子，积攒多少个积分，我们希望为改变这种方式贡献一己之力，因为我们始终相信，互联网的基本精神是自由、开放、合作与分享，我们始终相信，在互联网的世界里，人们可以自由地获取需要的知识、学习热爱的技能，互联网上的资源应该是开放的，人们本就应该通过合作、分享等方式来平等地享受互联网带给我们的便捷，发挥互联网最大的能量。因此，我们提议大家将有意义的资源通过百度云、360云盘、迅雷链接、ed2k链接、磁力链接等方式分享给其他人，并对分享的资源略作说明。
                </p>
                <p class="about">
                    人人为我，我为人人，让我们携手共同营造一个真正的自由、平等、开放、共享的互联网环境。
                </p>
                <p class="about">
                    关于打赏功能，开通这一功能，是为了感谢辛勤付出的朋友们，如果你认为他人的分享给您带来了实质性的帮助，您可以在自己能力范围内通过打赏的方式来表达您对分享者的感谢和鼓励，目前我们开通了支付宝和微信的扫码支付，手机端扫描二维码，方便快捷。我们的分享者不会为其分享的资源要求报酬，但是哪怕仅仅是一分钱，也将成为他人继续分享的动力，也代表了您对分享行为的支持和参与。
                </p>
                <p class="about">
                    关于站内广告，本站不以盈利为目的，但网站的运营需要支付服务器和带宽费用，我们会在不影响阅读体验的前提下，投放少量广告，用以平衡支出，目前网站的运行正常平稳，暂时不需要捐献，再次感谢您的理解、支持与关心。
                </p>
                <p class="about">
                    Withyun团队敬上
                </p>
            </div>
            <div class="heading">
                联系我们
            </div>
            <div class="widget-content padded">
                <a href=mailto:contact@withyun.com>contact@withyun.com</a>
            </div>
            <div class="heading">
                或者向我们留言
            </div>
            <div class="widget-content padded" id="messageForm">
                <form asp-controller="Home" asp-action="Message" ajax-success="messageSuccess" class="form-horizontal">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label class="control-label col-md-1">您的留言</label>
                        <div class="col-md-7">
                            <input asp-for="Message" class="form-control" placeholder="您的留言" />
                            <span asp-validation-for="Message"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-1">联系方式</label>
                        <div class="col-md-7">
                            <input asp-for="Contacts" class="form-control" placeholder="您的联系方式，手机号/邮箱/QQ" />
                            <span asp-validation-for="Contacts"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-7 col-md-offset-1">
                            <button class="btn btn-success"> 提交</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="widget-content padded hidden" id="messageSuccessInfo">
                <div class="alert alert-info">
                    <button class="close" data-dismiss="alert" type="button">×</button>
                    您的留言我们已收到，我们会尽快给你回复
                </div>
            </div>
        </div>
    </div>
</div>