
@{
    ViewBag.Title = "注册完成";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
    ViewBag.BodyClass = "login1";
}

    <!-- Login Screen -->
<div class="login-wrapper">
    <div class="login-container">
        <a asp-controller="Home" asp-action="Index">
            <img src="~/images/logo-login@2x.png" />
        </a>
        <br />
        <h4>感谢您的注册！</h4>
        <p>现在，您可以登录网站，分享你的资源，获得收益</p>
        <br />
        <div class="social-login clearfix">
            <a asp-action="Login" asp-controller="Account" class="btn btn-primary">现在登录</a>
        </div>
    </div>
</div>
<!-- End Login Screen -->