
@{
    ViewBag.Title = "查看邮箱";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
    ViewBag.BodyClass = "login1";
}

    <!-- Login Screen -->
<div class="login-wrapper">
    <div class="login-container">
        <a href="@Url.Action("Index","Home")">
            <img src="~/images/logo-login@2x.png" />
        </a>
        <br />
        <br />
        <h4>还差一步即可完成注册</h4>
        <p>我们已经向您的邮箱 @ViewBag.Email 发送了一封激活邮件，请点击邮件中的链接完成注册！</p>
        <p>注册成功后，你可以分享你的资源，帮助他人，获得收益</p>
    </div>
</div>
<!-- End Login Screen -->