@model Withyun.Web.Models.ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
    ViewBag.Title = "找回密码";
    ViewBag.BodyClass = "login1";
}

    <!-- Login Screen -->
<div class="login-wrapper">
    <div class="login-container">
        <a asp-controller="Home" asp-action="Index">
            <img src="~/images/logo-login@2x.png" />
        </a>
        <form asp-action="ForgotPassword" asp-controller="Account" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                重设密码邮件会发送至您的邮箱
            </div>
            <div class="form-group">
                <input asp-for="Email" class="form-control" placeholder="邮箱" />
                <span asp-validation-for="Email"></span>
            </div>
            <div class="form-options clearfix">
                <button class="btn btn-primary">找回密码</button>
            </div>
        </form>
    </div>
</div>
<!-- End Login Screen -->