
@{
    ViewBag.Title = "查看邮箱";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
    ViewBag.BodyClass = "login1";
}

    <!-- Login Screen -->
<div class="login-wrapper">
    <div class="login-container">
        <a asp-controller="Home" asp-action="Index">
            <img src="~/images/logo-login@2x.png" />
        </a>
        <br />
        <br />
        <p>密码重置邮件已发送至您的邮箱，请登录邮箱查收</p>
    </div>
</div>
<!-- End Login Screen -->