@model Withyun.Web.ViewModels.LoginViewModel

<div class="modal-dialog">
    <div class="modal-content">
        <div class="part-login-container">
            <a asp-controller="Home" asp-action="Index"><img width="100" height="30" src="~/images/logo-login@2x.png" /></a>
            <form asp-controller="Account" asp-action="PartialLogin" ajax-success="loginSuccess">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="Email" class = "form-control", placeholder = "邮箱"/>
                    <span asp-validation-for="Email"></span>
                </div>
                <div class="form-group">
                    <input type="password" asp-for="Password" class="form-control" , placeholder="邮箱" />
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="form-options clearfix">
                    <a asp-action="ForgotPassword" class="pull-right">忘记密码？</a>
                </div>
                <div class="social-login clearfix">
                    <button type="submit" class="btn btn-primary">登录</button>
                </div>
            </form>
            <p class="signup">
                还没有账户？ <a asp-action="Register">立即注册</a>
            </p>
        </div>
    </div>
</div>