@model Withyun.Web.Models.ResetPasswordViewModel
@{
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
    ViewBag.Title = "重置密码";
    ViewBag.BodyClass = "login1 signup";
}

<!-- Login Screen -->
<div class="login-wrapper">
    <div class="login-container">
        <a asp-controller="Home" asp-action="Index">
            <img src="~/images/logo-login@2x.png" />
        </a>
        <form asp-action="ResetPassword" asp-controller="Account">
            <input type="hidden" asp-for="Code" />
            <input type="hidden" asp-for="UserId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="password" asp-for="Password" class = "form-control", placeholder = "密码"/>
                <span asp-validation-for="Password"></span>
            </div>
            <div class="form-group">
                <input type="password" asp-for="ConfirmPassword" class="form-control" , placeholder="确认密码" />
                <span asp-validation-for="ConfirmPassword"></span>
            </div>
            <div class="form-options clearfix">
                <button class="btn btn-primary">重设密码</button>
            </div>
        </form>
    </div>
</div>
<!-- End Login Screen -->
