@{
    ViewBag.Title = "怎样获得支付宝收款二维码";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title">
    <h3>
        @ViewBag.Title
    </h3>
</div>

<div class="row">
    <div class="col-sm-3">
        <ul class="list-group">
            <li class="list-group-item">
                <a asp-controller="Manage" asp-action="ChangePassword">
                    <p>
                       修改密码
                    </p>
                </a>
            </li>
            <li class="list-group-item">
                <a asp-controller="Manage" asp-action="ChangeEmail">
                    <p>
                        修改邮箱
                    </p>
                </a>
            </li>
            <li class="list-group-item">
                <a asp-controller="Manage" asp-action="UploadAvatar">
                    <p>
                        头像设置
                    </p>
                </a>
            </li>
            <li class="list-group-item">
                <a asp-controller="Manage" asp-action="UploadAlipay">
                    <p>
                        支付宝收款二维码
                    </p>
                </a>
            </li>
            <li class="list-group-item">
                <a asp-controller="Manage" asp-action="UploadWechat">
                    <p>
                        微信收款二维码
                    </p>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-sm-9">
        <div class="widget-container fluid-height clearfix">
            <div class="heading">
                <h4>
                    <i class="fa fa-reorder"></i>@ViewBag.Title
                </h4>
            </div>
            <div class="widget-content padded">
                <p><h4>1.首先打开个人支付宝收款二维码地址：<a href="https://fama.alipay.com/qrcode/qrcodelist.htm?qrCodeType=P" target="_blank">https://fama.alipay.com/</a>  并登录</h4></p>
                <p><h4>2.登陆后选择"收款码"选项卡，点击右侧"新建二维码"按钮选择收款码</h4></p>
                <p><img src="~/images/alipay/start.png" width="700" /></p>
                <p><h4>3.填写名称、手机号码、备注等信息</h4></p>
                <p><img src="~/images/alipay/newqr.png" width="700" /></p>    
                <p><h4>4.创建后返回"收款码"列表页，可以看到刚刚创建的二维码，点击右侧的"下载"按钮</h4></p>      
                <p><img src="~/images/alipay/qrlist.png" width="700"/></p>
                <p><h4>5.选择8*8cm的尺寸下载即可</h4></p>
                <p><img src="~/images/alipay/downloadqr.png" /></p>
                <p><h4>6.将下载得到的二维码上传至 <a asp-action="UploadAlipay" asp-controller="Manage">Withyun</a></h4></p>
            </div>
        </div>
    </div>
</div>

