@model Withyun.Web.Models.ChangeEmailViewModel
@{
    ViewBag.Title = "修改邮箱";
}
<div class="page-title">
    <h3>
        @ViewBag.Title
    </h3>
</div>
<div class="row">
    <div class="col-sm-3">
        <ul class="list-group">
            <li class="list-group-item">
                <a asp-controller="Manage" asp-action="ChangePassword">
                    <p>
                        修改密码
                    </p>
                </a>
            </li>
            <li class="list-group-item active">
                <a asp-controller="Manage" asp-action="ChangeEmail">
                    <p>
                        修改邮箱
                    </p>
                </a>
            </li>
            <li class="list-group-item">
                <a asp-controller="Manage" asp-action="UploadAvatar">
                    <p>
                        头像设置
                    </p>
                </a>
            </li>
            <li class="list-group-item">
                <a asp-controller="Manage" asp-action="UploadAlipay">
                    <p>
                        支付宝收款二维码
                    </p>
                </a>
            </li>
            <li class="list-group-item">
                <a asp-controller="Manage" asp-action="UploadWechat">
                    <p>
                        微信收款二维码
                    </p>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-sm-9">
        <div class="widget-container fluid-height clearfix">
            <div class="heading">
                <i class="fa fa-reorder"></i>@ViewBag.Title
            </div>
            <div class="widget-content padded">
                <form asp-controller="Manage" asp-action="GenerateCode" ajax-success="handleGenerateCode" class="form-horizontal" id="formCode">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="form-group">
                        <label asp-for="NewEmail" class="col-md-2 control-label"></label>
                        <div class="col-md-3">
                            <input asp-for="NewEmail" class="form-control" />
                            <span asp-validation-for="NewEmail"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-3">
                            <input type="submit" id="btnCode" value="发送验证码" class="btn btn-primary" />
                        </div>
                    </div>
                </form>
                
                <form asp-controller="Manage" asp-action="ChangeEmail" method="post" class="form-horizontal hidden" id="formEmail">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="form-group">
                        <label asp-for="Code" class="col-md-2 control-label"></label>
                        <div class="col-md-3">
                            <input asp-for="Code" class="form-control" placeholder="6位数验证码" />
                            <span asp-validation-for="Code"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-3">
                            <input type="submit" value="确定" class="btn btn-primary" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
