
@{
    ViewBag.Title = "上传头像";
}

<div class="page-title">
    <h3>
        @ViewBag.Title
    </h3>
</div>
<div class="row">
    <div class="col-sm-3">
        <ul class="list-group">
            <li class="list-group-item">
                <a asp-action="ChangePassword" asp-controller="Manage">
                    <p>
                        修改密码
                    </p>
                </a>
            </li>
            <li class="list-group-item">
                <a asp-action="ChangeEmail" asp-controller="Manage">
                    <p>
                        修改邮箱
                    </p>
                </a>
            </li>
            <li class="list-group-item active">
                <a asp-action="UploadAvatar" asp-controller="Manage">
                    <p>
                        头像设置
                    </p>
                </a>
            </li>
            <li class="list-group-item">
                <a asp-action="UploadAlipay" asp-controller="Manage">
                    <p>
                        支付宝收款二维码
                    </p>
                </a>
            </li>
            <li class="list-group-item">
                <a asp-action="UploadWechat" asp-controller="Manage">
                    <p>
                        微信收款二维码
                    </p>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-sm-9">
        <div class="widget-container fluid-height clearfix">
            <div class="heading">
                <i class="fa fa-reorder"></i>@ViewBag.Title
            </div>
            <div class="widget-content padded avator-btn-wrap">
                <form asp-action="Manage" asp-controller="UploadAvatar" method="post" class="form-horizontal" enctype="multipart/form-data">
                    <div class="form-group">
                        <div class="col-md-3">
                            <img src="@Url.Action("GetUserImg")" width="200" height="200">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-1">
                            <a href="javascript:void(0)" class="btn btn-primary">上传头像</a>
                            <input type="file" title="上传头像" name="fileField" id="upload" onchange="submit()" accept="image/*" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

