<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="LogConnection" connectionString="Data Source=localhost;Initial Catalog=ElmahLog;Persist Security Info=True;User ID=sa;Password=!QAZ2wsx" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="AccessKey" value="ae7f7dd012be046d8a801c9a480cf88022e374be" />
    <add key="SecretKey" value="8c8b482192a598d700eb8c3463a6c3cc55c22c52" />
    <add key="OpenKey" value="" />
    <add key="AlbumId" value="1228823" />
    <add key="PageForEd2000" value="5"/>
    <add key="PageForMp4Ba" value="5"/>
    <add key="PageForVerycd" value="5"/>
    <add key="PageForZimuzu" value="10"/>
    <add key="PageForEd2kers" value="10"/>

  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>