
<div class="pull-right">
    <ul class="nav navbar-nav pull-right">
        @if(User.Identity.IsAuthenticated)
        {
        <li class="dropdown notifications hidden-xs">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="notificationDropdown">
                <span aria-hidden="true" class="se7en-envelope"></span>
                <div class="sr-only">
                    消息
                </div>
            </a>
            <ul class="dropdown-menu"></ul>
        </li>
        <li class="dropdown user hidden-xs">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <img width="34" height="34" src="@Url.Action("GetAvatar","Manage")" />@User.Identity.Name<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a asp-controller="Blog" asp-action="Manage">
                        <i class="fa fa-user"></i>个人中心
                    </a>
                </li>
                <li>
                    <a asp-controller="Manage" asp-action="Index">
                        <i class="fa fa-gear"></i>账号设置
                    </a>
                </li>
                <li>
                    <a asp-controller="Account" asp-action="Logoff">
                        <i class="fa fa-sign-out"></i>退出
                    </a>
                </li>
            </ul>
        </li>
        }
        else
        {
        <li>
            <a asp-controller="Account" asp-action="Login">登录</a>
        </li>
        <li>
            <a asp-controller="Account" asp-action="Register">注册</a>
        </li>
        }

    </ul>
</div>

