<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="LogConnection" connectionString="Data Source=localhost;Initial Catalog=ElmahLog;Persist Security Info=True;User ID=sa;Password=!QAZ2wsx" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="AccessKey" value="9a32bff85f5febe7879f7281119fc1615afdba08"/>
    <add key="SecretKey" value="8cbb72760ce1cda0e40d1b12c54613073a770002"/>
    <add key="OpenKey" value="cZaZl8SXmG2ZzJiWxpLJmWhtn5hplZplaGRvmZVjbWltlszJxJJibcObmWORY5w="/>
    <add key="AlbumId" value="1222754"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>