@model Report
@{
    ViewBag.Title = "确认举报内容";
}

<div>
    <h4>LinkInvalide</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Blog.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Blog.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReportType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReportType)
        </dd>

    </dl>

    <form asp-controller="Report" asp-action="Confirm" method="post">
        <div class="form-actions no-color">
            <input type="submit" value="Confirm" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>

