
@{
    ViewBag.Title = "您发布的分享正在审核中……";
}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="widget-container fluid-height clearfix">
            <div class="heading">
                <i class="fa fa-check"></i>@ViewBag.Title
            </div>
            <hr />
            <div class="widget-content padded">
                <p>
                    @Html.ActionLink("查看待审核的分享", "Verify", null, new { @class = "btn btn-primary" })
                    @Html.ActionLink("查看内容违规的分享", "Report", null, new { @class = "btn btn-success" })
                    @Html.ActionLink("管理我的分享", "Manage", null, new { @class = "btn btn-info" })
                </p>
            </div>
        </div>
    </div>
</div>

