
@{
    ViewBag.Title = "分享发布成功";
}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="widget-container fluid-height clearfix">
            <div class="heading">
                <i class="fa fa-check"></i>@ViewBag.Title
            </div>
            <hr />
            <div class="widget-content padded">
                <p>
                    <a asp-action="Details" asp-route-id="ViewBag.Id" class="btn btn-primary">查看分享页面</a>
                    <a asp-action="Edit" class="btn btn-success">再发一篇分享</a>
                    <a asp-action="Manage" class="btn btn-info">管理我的分享</a>
                </p>
            </div>
        </div>
    </div>
</div>

